body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; font-weight: 600; font-variant: small-caps; }
.article-meta, .menu a {
  text-decoration: none;
  /* background: #eee; */
  padding: 5px;
  border-radius: 5px;
}
p.terms {margin: 5px;}
p.terms a {
  font-size: .9em;
  color: #eee;
  padding: 0px 5px;
  text-decoration: none;
  border-radius: 5px;
}
p.terms a.categories { font-size:0.8em; background: #536878; }
p.terms a.tags { font-size:0.8em; background: #bd666d; }
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer { font-weight: 600; font-variant: small-caps; }
footer a { text-decoration: none; }
hr {
  border-style: solid;
  color: #000000;
  border-top: 1px;
  height: 1px;
  margin: 1em auto;
  max-width: 360px;
}

ul.terms { max-width: 400px; margin: auto;}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  background: #282828;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
